.clock {
  width: 100%;
  height: 100px;
  position: relative;
  left: 0px;
  background: linear-gradient(to left bottom, #153084 49%, #1b3fab 50%);
}

.counterClock {
  width: 100%;
  height: 100px;
  position: relative;
  left: 0px;
  background: linear-gradient(to right bottom, #1b3fab 49%, #4169e1 50%),
    linear-gradient(-50deg, #4169e1 16px, #000 0);
}
