.navbarWrapper {
  display: inline-block;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 1.5rem;
}

.socialsWrapper {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.logo {
  padding: 0 1.5rem;
}
