.navbarWrapper {
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0;
  position: fixed;
  top: 0rem;
  z-index: 100;
}

.socialsWrapper {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.logo {
  padding: 0 1.5rem;
}

.logo:hover {
  opacity: 0.65;
}
