@font-face {
  font-family: "ModerneSans";
  src: url("../public/ModerneSansFont.ttf");
}

:root {
  font-family: ModerneSans, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  background-color: #214ed3;
  color: rgba(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  padding-top: 5rem;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}
